.footer__rodape{
height: 80px;
padding: 15px;
margin: auto;
text-align: center;
background-color: var(--dark-gray);
color: #fff;
}

@media screen and (min-width: 1440px) {
    .footer__rodape {
        font-size: 1rem;
        
    }
}